<!-- Navigation bar -->
<nav class="navbar">
    <div class="container">
        <!-- Brand link -->
        <a href="/" class="navbar-brand">Opinion</a>
        <!-- Navigation links -->
        <ul class="navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>
    </div>
</nav>
